LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-openembedded/meta-networking \
  ##OEROOT##/../meta-openembedded/meta-python \
  ##OEROOT##/../meta-tegra \
  ##OEROOT##/../meta-tegra/contrib \
  ##OEROOT##/../meta-virtualization \
  ##OEROOT##/../meta-antisoup \
"
